{% extends "page.html.twig" %}

{% block content %}

  {{ page.front_content }}
  <div class="BarStartTour">
    <div class="imgStart"></div>
    <div class="startText">{{ 'How does this e-guide work?' | trans }}</div>
    <div class="butonTour">
      <a id="tour">{{ 'Start tour' | trans }}</a>
    </div>
  </div>
  <div class="subStartTour">{{ 'Please select your profile:' | trans }}</div>
  <div class="half center br">
    <div class="whiteBg">
      <div class="img-employer"></div>
      <div class="text">{{ 'I am an employer' | trans }}</div>
      <div class="button">
        <a href="list-themes/2">{{ 'Start' | trans }}</a>
      </div>
    </div>
  </div>
  <div class="half center br">
    <div class="whiteBg">
      <div class="img-worker"></div>
      <div class="text">{{ 'I am a worker' | trans }}</div>
      <div class="button">
        <a href="list-themes/1">{{ 'Start' | trans }}</a>
      </div>
    </div>
  </div>
  <div class="half center br">
    <div class="whiteBg">
      <div class="img-manager"></div>
      <div class="text">{{ 'I am a HR Manager' | trans }}</div>
      <div class="button">
        <a href="list-themes/5">{{ 'Start' | trans }}</a>
      </div>
    </div>
  </div>
  <div class="half center">
    <div class="whiteBg">
      <div class="img-professional"></div>
      <div class="text">{{ 'I am an OSH Professional' | trans }}</div>
      <div class="button">
        <a href="list-themes/6">{{ 'Start' | trans }}</a>
      </div>
    </div>
  </div>
  <div class="content-tour">
    <div class="skip-tour"><a href="">{{ 'Skip' | trans }}</a></div>
      <div class="tour tour-01">
        <div class="img-tour img-tour-01"></div>
        <div class="close-tour">X</div>
        <div class="tour-text content-tour-01">
          <p>
            {{ 'This is a short tutorial which will help you navigate through the website. Are you an employer, worker, HR manager or OSH professional? On this page you can select your profile.' | trans }}
          </p>
        </div>
      </div>
    <div class="tour tour-02">
      <div class="img-tour img-tour-02"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-02">
        <p>
          {{ 'The e-guide is based around four themes. By clicking on ‘+’ you can learn more about the topics addressed in each theme, and by clicking on ‘read’ you will enter a theme.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-03">
      <div class="img-tour img-tour-03"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-03">
        <p>
          {{ 'Each theme addresses different questions and issues related to its topic. Click on the menu items to learn more about a specific issue.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-04">
      <div class="img-tour img-tour-04"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-04">
        <p>
         {{ 'You can move between questions by clicking on ‘next’ or ‘previous’. The back button brings you back to the theme overview page.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-05">
      <div class="img-tour img-tour-05"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-05">
        <p>
          {{ 'By clicking on "Themes" you will go back to the theme overview page.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-06">
      <div class="img-tour img-tour-06"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-06">
        <p>
          {{ 'If you want to switch profile, click on the dropdown menu at the top right corner. Here you can also search for specific information through the search function.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-07">
      <div class="img-tour img-tour-07"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-07">
        <p>
          {{ 'At the top menu you can click on ‘Good practices’ to read about examples of relevant projects and initiatives. ‘Useful resources’ provides you with a link to the glossary and other useful resources. You can test your knowledge on ageing and work by clicking on the last menu item.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-08">
      <div class="img-tour img-tour-08"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-08">
        <p>
          {{ 'The page ‘About this e-guide’ provides you with more information about the e-guide and who has developed it.' | trans }}
        </p>
      </div>
    </div>
    <div class="tour tour-09">
      <div class="img-tour img-tour-09"></div>
      <div class="close-tour">X</div>
      <div class="tour-text content-tour-09">
        <p>
          {{ 'Finally, by clicking on the ‘home’ icon you will go back to the homepage of this e-guide.' | trans }}
        </p>
        <p>
          {{ 'This is the end of the tour; we hope you will enjoy reading this e-guide!' | trans }}
        </p>
      </div>
    </div>
    <div class="next-tour"><a href="">{{ 'Next' | trans }}<span class="ico-next">>></span></a></div>
  </div>
{% endblock %}


