{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
  <div  class="content-header">
    <div class="logos">
      {{ page.top_header }}
    </div>
    <div id="navbar" role="banner" class="{{ navbar_classes }}">
       <nav{{ navbar_attributes }}>
          {% if page.primary_menu %}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
            </div>
          {% endif %}
          {% if sidebar_collapse %}
            <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
          {% endif %}
        </nav>
    </div>
    <div class="push-right">
      <div class="search-custom-block">
        {{ page.header_form }}
      </div>
      <div class="font-size-print">
          <span id="_smallify" class="a_small"><a title="Smaller text">A</a></span>
          <span class="separator">|</span>
          <span id="_biggify" class="a_big"><a title="Bigger text">A</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the List -->
<div class="language-profile-selector">
  <div id="containerMaxLengthTools">
    <div id="containerTools">
      <ul class="tabs">
        <li class="profileTab">{{ 'Worker' | trans }}</li>
        <li class="country">{{ 'United Kingdom' | trans }}</li>
      </ul>
    </div>
  </div>
  <!-- This is the List -->
  <div class="containerC">
    <div id="listText">
      <ul>
        <li><a href="select-language?c=AU&amp;l=DE">{{ 'Austria' |trans }}</a>
          <ul class="at">
            <li class="LanHid"><a href="select-language?c=AU&amp;l=DE">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li>Belgium
          <ul class="be">
            <li><a href="select-language?c=BE&amp;l=FR" class="moreItems">{{ 'French' |trans }}</a></li>
            <li><a href="select-language?c=BE&amp;l=NL">{{ 'Dutch' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=BU&amp;l=BG">{{ 'Bulgaria' |trans }}</a>
          <ul class="bg">
            <li class="LanHid"><a href="select-language?c=BU&amp;l=BG">{{ 'Bulgarian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=CR&amp;l=HR">{{ 'Croatia' |trans }}</a>
          <ul class="hr">
            <li class="LanHid"><a href="select-language?c=CR&amp;l=HR">{{ 'Croatian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=CY&amp;l=EL">{{ 'Cyprus' |trans }}</a>
          <ul class="cy">
            <li class="LanHid"><a href="select-language?c=CY&amp;l=EL">{{ 'Greek' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=CZ&amp;l=CS">{{ 'Czech Republic' |trans }}</a>
          <ul class="cz">
            <li class="LanHid"><a href="select-language?c=CZ&amp;l=CS">{{ 'Czech' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=DE&amp;l=DA">{{ 'Denmark' |trans }}</a>
          <ul class="dk">
            <li class="LanHid"><a href="select-language?c=DE&amp;l=DA">{{ 'Danish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=ET&amp;l=ET">{{ 'Estonia' |trans }}</a>
          <ul class="ee">
            <li class="LanHid"><a href="select-language?c=ET&amp;l=ET">{{ 'Estonian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Finland' |trans }}
          <ul class="fi">
            <li><a href="select-language?c=FI&amp;l=FI" class="moreItems">{{ 'Finnish' |trans }}</a></li>
            <li><a href="select-language?c=FI&amp;l=SV">{{ 'Swedish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=FR&amp;l=FR">{{ 'France' |trans }}</a>
          <ul class="fr">
            <li class="LanHid"><a href="select-language?c=FR&amp;l=FR">{{ 'French' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=GE&amp;l=DE">{{ 'Germany' |trans }}</a>
          <ul class="de">
            <li class="LanHid"><a href="select-language?c=GE&amp;l=DE">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=GR&amp;l=EL">{{ 'Greece' |trans }}</a>
          <ul class="gr">
            <li class="LanHid"><a href="select-language?c=GR&amp;l=EL">{{ 'Greek' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=HU&amp;l=HU">{{ 'Hungary' |trans }}</a>
          <ul class="hu">
            <li class="LanHid"><a href="select-language?c=HU&amp;l=HU">{{ 'Hungarian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=IR&amp;l=EN">{{ 'Ireland' |trans }}</a>
          <ul class="ie">
            <li class="LanHid"><a href="select-language?c=IR&amp;l=EN">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=IT&amp;l=IT">{{ 'Italy' |trans }}</a>
          <ul class="it">
            <li class="LanHid"><a href="select-language?c=IT&amp;l=IT">{{ 'Italian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=LV&amp;l=LV">{{ 'Latvia' |trans }}</a>
          <ul class="lv">
            <li class="LanHid"><a href="select-language?c=LV&amp;l=LV">{{ 'Latvian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=LT&amp;l=LT">{{ 'Lithuania' |trans }}</a>
          <ul class="lt">
            <li class="LanHid"><a href="select-language?c=LT&amp;l=LT">{{ 'Lithuanian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Luxembourg' |trans }}
          <ul class="lu">
            <li><a href="select-language?c=LB&amp;l=FR" class="moreItems">{{ 'French' |trans }}</a></li>
            <li><a href="select-language?c=LB&amp;l=DE" class="moreItems">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Malta' |trans }}
          <ul class="mt">
            <li><a href="select-language?c=MT&amp;l=MT" class="moreItems">{{ 'Maltese' |trans }}</a></li>
            <li><a href="select-language?c=MT&amp;l=EN">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=NE&amp;l=NL">{{ 'Netherlands' |trans }}</a>
          <ul class="nl">
            <li class="LanHid"><a href="select-language?c=NE&amp;l=NL">{{ 'Dutch' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=PL&amp;l=PL">{{ 'Poland' |trans }}</a>
          <ul class="pl">
            <li class="LanHid"><a href="select-language?c=PL&amp;l=PL">{{ 'Polish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=PT&amp;l=PT">{{ 'Portugal' |trans }}</a>
          <ul class="pt">
            <li class="LanHid"><a href="select-language?c=PT&amp;l=PT">{{ 'Portuguese' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=RO&amp;l=RO">{{ 'Romania' |trans }}</a>
          <ul class="ro">
            <li class="LanHid"><a href="select-language?c=RO&amp;l=RO">{{ 'Romanian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=SK&amp;l=SK">{{ 'Slovakia' |trans }}</a>
          <ul class="sk">
            <li class="LanHid"><a href="select-language?c=SK&amp;l=SK">{{ 'Slovak' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=SL&amp;l=SL">{{ 'Slovenia' |trans }}</a>
          <ul class="si">
            <li class="LanHid"><a href="select-language?c=SL&amp;l=SL">{{ 'Slovene' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=ES&amp;l=ES">{{ 'Spain' |trans }}</a>
          <ul class="es LanHid">
            <li class="LanHid"><a href="select-language?c=ES&amp;l=ES">{{ 'Spanish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=SV&amp;l=SV">{{ 'Sweden' |trans }}</a>
          <ul class="se LanHid">
            <li class="LanHid"><a href="select-language?c=SV&amp;l=SV">{{ 'Swedish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=UK&amp;l=EN">{{ 'United Kingdom' |trans }}</a>
          <ul class="gb">
            <li class="LanHid"><a href="select-language?c=UK&amp;l=EN">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=IS&amp;l=IS">{{ 'Iceland' |trans }}</a>
          <ul class="is">
            <li class="LanHid"><a href="select-language?c=IS&amp;l=IS">{{ 'Icelandic' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="select-language?c=NN&amp;l=NN">{{ 'Norway' |trans }}</a>
          <ul class="no">
            <li class="LanHid"><a href="select-language?c=NN&amp;l=NN">{{ 'Norwegian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Switzerland' |trans }}
          <ul class="ch">
            <li><a href="select-language?c=SWZ&amp;l=DE" class="moreItems">{{ 'German' |trans }}</a></li>
            <li><a href="select-language?c=SWZ&amp;l=FR" class="moreItems"{{ 'French' |trans }}> </a></li>
            <li><a href="select-language?c=SWZ&amp;l=IT">{{ 'Italian' |trans }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="profileDiv">
    <div>
      <a href="/list-themes/2">{{ 'I am an employer' | trans }}</a>
    </div>
    <div>
     <a href="/list-themes/1">{{ 'I am a worker' | trans }}</a>
    </div>
    <div>
      <a href="/list-themes/5">{{ 'I am a HR Manager' | trans }}</a>
    </div>
    <div>
      <a href="/list-themes/6">{{ 'I am an OSH Professional' | trans }}</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  {{ page.breadcrumb }}
  {{ page.allages_title }}
  <section class="section">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </section>
{% endblock %}

{% block footer %}
  {% if page.footer_end %}
    <div class="site-footer__bottom">
      {{ page.footer_end }}
    </div>
  {% endif %}
{% endblock %}

