{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
  <div  class="content-header">
    <div class="logos">
      {{ page.top_header }}
    </div>
    <div id="navbar" role="banner" class="{{ navbar_classes }}">
       <nav{{ navbar_attributes }}>
          {% if page.primary_menu %}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
            </div>
          {% endif %}
          {% if sidebar_collapse %}
            <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
          {% endif %}
        </nav>
    </div>
    <div class="push-right">
      <div class="search-custom-block">
        {{ page.header_form }}
      </div>
      <div class="font-size-print">
          <span id="_smallify" class="a_small"><a title="Smaller text">A</a></span>
          <span class="separator">|</span>
          <span id="_biggify" class="a_big"><a title="Bigger text">A</a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the List -->
<div class="language-profile-selector">
  <div id="containerMaxLengthTools">
    <div id="containerTools">
      <ul class="tabs">
        <li class="profileTab">{{ 'Profile' | trans }}</li>
        <li class="country">{{ 'Country'  | trans }}</li>
      </ul>
    </div>
  </div>
  <!-- This is the List -->
  <div class="containerC">
    <div id="listText">
      <ul>
        <li><a href="/all-ages/AU-de/select-your-profile">{{ 'Austria' |trans }}</a>
          <ul class="at">
            <li class="LanHid"><a href="/all-ages/AU-de/select-your-profile">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li>Belgium
          <ul class="be">
            <li><a href="/all-ages/BE-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
            <li><a href="/all-ages/BE-nl/select-your-profile">{{ 'Dutch' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/BU-bg/select-your-profile">{{ 'Bulgaria' |trans }}</a>
          <ul class="bg">
            <li class="LanHid"><a href="/all-ages/BU-bg/select-your-profile">{{ 'Bulgarian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/CR-hr/select-your-profile">{{ 'Croatia' |trans }}</a>
          <ul class="hr">
            <li class="LanHid"><a href="/all-ages/CR-hr/select-your-profile">{{ 'Croatian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/CY-el/select-your-profile">{{ 'Cyprus' |trans }}</a>
          <ul class="cy">
            <li class="LanHid"><a href="/all-ages/CY-el/select-your-profile">{{ 'Greek' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/CZ-cs/select-your-profile">{{ 'Czech Republic' |trans }}</a>
          <ul class="cz">
            <li class="LanHid"><a href="/all-ages/CZ-cs/select-your-profile">{{ 'Czech' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/DE-da/select-your-profile">{{ 'Denmark' |trans }}</a>
          <ul class="dk">
            <li class="LanHid"><a href="/all-ages/DE-da/select-your-profile">{{ 'Danish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/ET_et/select-your-profile">{{ 'Estonia' |trans }}</a>
          <ul class="ee">
            <li class="LanHid"><a href="/all-ages/ET_et/select-your-profile">{{ 'Estonian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Finland' |trans }}
          <ul class="fi">
            <li><a href="/all-ages/FI-fi/select-your-profile" class="moreItems">{{ 'Finnish' |trans }}</a></li>
            <li><a href="/all-ages/FI-sv/select-your-profile">{{ 'Swedish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/FR-fr/select-your-profile">{{ 'France' |trans }}</a>
          <ul class="fr">
            <li class="LanHid"><a href="/all-ages/FR-fr/select-your-profile">{{ 'French' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/GE-de/select-your-profile">{{ 'Germany' |trans }}</a>
          <ul class="de">
            <li class="LanHid"><a href="/all-ages/GE-de/select-your-profile">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/GR-el/select-your-profile">{{ 'Greece' |trans }}</a>
          <ul class="gr">
            <li class="LanHid"><a href="/all-ages/GR-el/select-your-profile">{{ 'Greek' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/HU-hu/select-your-profile">{{ 'Hungary' |trans }}</a>
          <ul class="hu">
            <li class="LanHid"><a href="/all-ages/HU-hu/select-your-profile">{{ 'Hungarian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/IR-en/select-your-profile">{{ 'Ireland' |trans }}</a>
          <ul class="ie">
            <li class="LanHid"><a href="/all-ages/IR-en/select-your-profile">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/IT-it/select-your-profile">{{ 'Italy' |trans }}</a>
          <ul class="it">
            <li class="LanHid"><a href="/all-ages/IT-it/select-your-profile">{{ 'Italian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/LV-lv/select-your-profile">{{ 'Latvia' |trans }}</a>
          <ul class="lv">
            <li class="LanHid"><a href="/all-ages/LV-lv/select-your-profile">{{ 'Latvian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/LT-lt/select-your-profile">{{ 'Lithuania' |trans }}</a>
          <ul class="lt">
            <li class="LanHid"><a href="/all-ages/LT-lt/select-your-profile">{{ 'Lithuanian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Luxembourg' |trans }}
          <ul class="lu">
            <li><a href="/all-ages/LB-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
            <li><a href="/all-ages/LB-de/select-your-profile" class="moreItems">{{ 'German' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Malta' |trans }}
          <ul class="mt">
            <li><a href="/all-ages/MT-mt/select-your-profile" class="moreItems">{{ 'Maltese' |trans }}</a></li>
            <li><a href="/all-ages/MT-en/select-your-profile">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/NE-nl/select-your-profile">{{ 'Netherlands' |trans }}</a>
          <ul class="nl">
            <li class="LanHid"><a href="/all-ages/NE-nl/select-your-profile">{{ 'Dutch' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/PL-pl/select-your-profile">{{ 'Poland' |trans }}</a>
          <ul class="pl">
            <li class="LanHid"><a href="/all-ages/PL-pl/select-your-profile">{{ 'Polish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/PT-pt/select-your-profile">{{ 'Portugal' |trans }}</a>
          <ul class="pt">
            <li class="LanHid"><a href="/all-ages/PT-pt/select-your-profile">{{ 'Portuguese' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/RO-ro/select-your-profile">{{ 'Romania' |trans }}</a>
          <ul class="ro">
            <li class="LanHid"><a href="/all-ages/RO-ro/select-your-profile">{{ 'Romanian' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/SK-sk/select-your-profile">{{ 'Slovakia' |trans }}</a>
          <ul class="sk">
            <li class="LanHid"><a href="/all-ages/SK-sk/select-your-profile">{{ 'Slovak' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/SL-sl/select-your-profile">{{ 'Slovenia' |trans }}</a>
          <ul class="si">
            <li class="LanHid"><a href="/all-ages/SL-sl/select-your-profile">{{ 'Slovene' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/ES-es/select-your-profile">{{ 'Spain' |trans }}</a>
          <ul class="es LanHid">
            <li class="LanHid"><a href="/all-ages/ES-es/select-your-profile">{{ 'Spanish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/SV-sv/select-your-profile">{{ 'Sweden' |trans }}</a>
          <ul class="se LanHid">
            <li class="LanHid"><a href="/all-ages/SV-sv/select-your-profile">{{ 'Swedish' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/UK-en/select-your-profile">{{ 'United Kingdom' |trans }}</a>
          <ul class="gb">
            <li class="LanHid"><a href="/all-ages/UK-en/select-your-profile">{{ 'English' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/IS_is/select-your-profile">{{ 'Iceland' |trans }}</a>
          <ul class="is">
            <li class="LanHid"><a href="/all-ages/IS_is/select-your-profile">{{ 'Icelandic' |trans }}</a></li>
          </ul>
        </li>
        <li><a href="/all-ages/NN-nn/select-your-profile">{{ 'Norway' |trans }}</a>
          <ul class="no">
            <li class="LanHid"><a href="/all-ages/NN-nn/select-your-profile">{{ 'Norwegian' |trans }}</a></li>
          </ul>
        </li>
        <li>{{ 'Switzerland' |trans }}
          <ul class="ch">
            <li><a href="/all-ages/SWZ-de/select-your-profile" class="moreItems">{{ 'German' |trans }}</a></li>
            <li><a href="/all-ages/SWZ-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
            <li><a href="/all-ages/SWZ-it/select-your-profile">{{ 'Italian' |trans }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="profileDiv">
    <div class="profile-content">
      <div class="profile-item">
        <a href="list-themes/2">{{ 'I am an employer' | trans }}</a>
      </div>
      <div class="profile-item">
        <a href="list-themes/1">{{ 'I am a worker' | trans }}</a>
      </div>
      <div class="profile-item">
        <a href="list-themes/5">{{ 'I am a HR Manager' | trans }}</a>
      </div>
      <div class="profile-item">
        <a href="list-themes/6">{{ 'I am an OSH Professional' | trans }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  {{ page.breadcrumb }}
  {{ page.allages_title }}
  <section class="section">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </section>
{% endblock %}

{% block footer %}
  {% if page.footer_end %}
    <div class="site-footer__bottom">
      {{ page.footer_end }}
    </div>
  {% endif %}
{% endblock %}

