{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block head %}
  <!-- Add vmap libraty (js and css)-->
  {{ attach_library('allages_theme/vmap-library') }}
  <div class="content-header">
    <div class="logos">
      {{ page.top_header }}
    </div>
    <div class="push-right">
      <div class="search-custom-block">
        {{ page.header_form }}
      </div>
      <div class="font-size-print">
        <span id="_smallify" class="a_small"><a title="Smaller text">A</a></span>
        <span class="separator">|</span>
        <span id="_biggify" class="a_big"><a title="Bigger text">A</a></span>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {{ page.front_content }}

  <div class="content-map-list">
    <!-- Start of the lenguage section -->
    <div id="langselect">
      <div id ="langheader">
        <div class="content-lang-header">
          <div class="lan-sel">
            {{ 'Please select your country:' | trans }}
          </div>
          <div class="MapList">
            <div class="MapSC">
              {{ 'MAP' | trans }}
            </div>
            <div class="ListSC">
              {{ 'LIST' | trans }}
            </div>
          </div>
        </div>
      </div>

      <!-- This is the List -->
      <div class="containerC">
        <div id="listText">
          <ul>
            <li><a href="AU-de/select-your-profile">{{ 'Austria' |trans }}</a>
              <ul class="at">
                <li class="LanHid"><a href="AU-de/select-your-profile">{{ 'German' |trans }}</a></li>
              </ul>
            </li>
            <li>Belgium
              <ul class="be">
                <li><a href="BE-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
                <li><a href="BE-nl/select-your-profile">{{ 'Dutch' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="BU-bg/select-your-profile">{{ 'Bulgaria' |trans }}</a>
              <ul class="bg">
                <li class="LanHid"><a href="BU-bg/select-your-profile">{{ 'Bulgarian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="CR-hr/select-your-profile">{{ 'Croatia' |trans }}</a>
              <ul class="hr">
                <li class="LanHid"><a href="CR-hr/select-your-profile">{{ 'Croatian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="CY-el/select-your-profile">{{ 'Cyprus' |trans }}</a>
              <ul class="cy">
                <li class="LanHid"><a href="CY-el/select-your-profile">{{ 'Greek' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="CZ-cs/select-your-profile">{{ 'Czech Republic' |trans }}</a>
              <ul class="cz">
                <li class="LanHid"><a href="CZ-cs/select-your-profile">{{ 'Czech' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="DE-da/select-your-profile">{{ 'Denmark' |trans }}</a>
              <ul class="dk">
                <li class="LanHid"><a href="DE-da/select-your-profile">{{ 'Danish' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="ET_et/select-your-profile">{{ 'Estonia' |trans }}</a>
              <ul class="ee">
                <li class="LanHid"><a href="ET_et/select-your-profile">{{ 'Estonian' |trans }}</a></li>
              </ul>
            </li>
            <li>{{ 'Finland' |trans }}
              <ul class="fi">
                <li><a href="FI-fi/select-your-profile" class="moreItems">{{ 'Finnish' |trans }}</a></li>
                <li><a href="FI-sv/select-your-profile">{{ 'Swedish' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="FR-fr/select-your-profile">{{ 'France' |trans }}</a>
              <ul class="fr">
                <li class="LanHid"><a href="FR-fr/select-your-profile">{{ 'French' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="GE-de/select-your-profile">{{ 'Germany' |trans }}</a>
              <ul class="de">
                <li class="LanHid"><a href="GE-de/select-your-profile">{{ 'German' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="GR-el/select-your-profile">{{ 'Greece' |trans }}</a>
              <ul class="gr">
                <li class="LanHid"><a href="GR-el/select-your-profile">{{ 'Greek' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="HU-hu/select-your-profile">{{ 'Hungary' |trans }}</a>
              <ul class="hu">
                <li class="LanHid"><a href="HU-hu/select-your-profile">{{ 'Hungarian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="IR-en/select-your-profil">{{ 'Ireland' |trans }}</a>
              <ul class="ie">
                <li class="LanHid"><a href="IR-en/select-your-profile">{{ 'English' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="IT-it/select-your-profile">{{ 'Italy' |trans }}</a>
              <ul class="it">
                <li class="LanHid"><a href="IT-it/select-your-profile">{{ 'Italian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="LV-lv/select-your-profile">{{ 'Latvia' |trans }}</a>
              <ul class="lv">
                <li class="LanHid"><a href="LV-lv/select-your-profile">{{ 'Latvian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="LT-lt/select-your-profile">{{ 'Lithuania' |trans }}</a>
              <ul class="lt">
                <li class="LanHid"><a href="LT-lt/select-your-profile">{{ 'Lithuanian' |trans }}</a></li>
              </ul>
            </li>
            <li>{{ 'Luxembourg' |trans }}
              <ul class="lu">
                <li><a href="LB-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
                <li><a href="LB-de/select-your-profile" class="moreItems">{{ 'German' |trans }}</a></li>
              </ul>
            </li>
            <li>{{ 'Malta' |trans }}
              <ul class="mt">
                <li><a href="MT-mt/select-your-profile" class="moreItems">{{ 'Maltese' |trans }}</a></li>
                <li><a href="MT-en/select-your-profile">{{ 'English' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="NE-nl/select-your-profile">{{ 'Netherlands' |trans }}</a>
              <ul class="nl">
                <li class="LanHid"><a href="NE-nl/select-your-profile">{{ 'Dutch' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="PL-pl/select-your-profile">{{ 'Poland' |trans }}</a>
              <ul class="pl">
                <li class="LanHid"><a href="PL-pl/select-your-profile">{{ 'Polish' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="PT-pt/select-your-profile">{{ 'Portugal' |trans }}</a>
              <ul class="pt">
                <li class="LanHid"><a href="PT-pt/select-your-profile">{{ 'Portuguese' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="RO-ro/select-your-profile">{{ 'Romania' |trans }}</a>
              <ul class="ro">
                <li class="LanHid"><a href="RO-ro/select-your-profile">{{ 'Romanian' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="SK-sk/select-your-profile">{{ 'Slovakia' |trans }}</a>
              <ul class="sk">
                <li class="LanHid"><a href="SK-sk/select-your-profile">{{ 'Slovak' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="SL-sl/select-your-profile">{{ 'Slovenia' |trans }}</a>
              <ul class="si">
                <li class="LanHid"><a href="SL-sl/select-your-profile">{{ 'Slovene' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="ES-es/select-your-profile">{{ 'Spain' |trans }}</a>
              <ul class="es LanHid">
                <li class="LanHid"><a href="ES-es/select-your-profile">{{ 'Spanish' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="SV-sv/select-your-profile">{{ 'Sweden' |trans }}</a>
              <ul class="se LanHid">
                <li class="LanHid"><a href="SV-sv/select-your-profile">{{ 'Swedish' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="UK-en/select-your-profile">{{ 'United Kingdom' |trans }}</a>
              <ul class="gb">
                <li class="LanHid"><a href="UK-en/select-your-profile">{{ 'English' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="IS_is/select-your-profile">{{ 'Iceland' |trans }}</a>
              <ul class="is">
                <li class="LanHid"><a href="IS_is/select-your-profile">{{ 'Icelandic' |trans }}</a></li>
              </ul>
            </li>
            <li><a href="NN-nn/select-your-profile">{{ 'Norway' |trans }}</a>
              <ul class="no">
                <li class="LanHid"><a href="NN-nn/select-your-profile">{{ 'Norwegian' |trans }}</a></li>
              </ul>
            </li>
            <li>{{ 'Switzerland' |trans }}
              <ul class="ch">
                <li><a href="SWZ-de/select-your-profile" class="moreItems">{{ 'German' |trans }}</a></li>
                <li><a href="SWZ-fr/select-your-profile" class="moreItems">{{ 'French' |trans }}</a></li>
                <li><a href="SWZ-it/select-your-profile">{{ 'Italian' |trans }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--This is the start of the map -->
      <div id="mapImg">
        <div id="vmap"></div>
      </div>

    </div>
    <!-- End of the lenguage section -->
  </div>
{% endblock %}

{% block footer %}

  {% if page.footer_end %}
    <div class="site-footer__bottom">
      {{ page.footer_end }}
    </div>
  {% endif %}

{% endblock %}

